* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bgcolor:#0D0D0D;
    --playbar:#212121;
}
body{
    color: white;
}
.debug{
    border: 1px solid white;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: var(--bgcolor);
}
.playbar{
    background-color:var(--playbar);
    height: 90px;
}
main{
    height: calc(100vh - 90px);
}
.enlarge{
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}
span{
    font-size: 0.8em;
    padding: 0px 5px;
}
img{
    width: 100%;
}
.cards{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    

}
.card-container{
    padding: 10px 5px;
    width: calc( 100vw / 7.5 );
}


